.container {
  /* CSS RULES */
  margin: 0;
}

.color {
  margin-bottom: 5px;
  display: inline-block;
  width: 10%;
  text-align: center;
}

.colorPalette {
  padding: 20px;
}

.color span {
  color: #333333;
  font-size: 12px;
}
